:root {
  /* Colors */

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  /* Typography */

  /* Body Copy */
  --font-size: 1.125rem;

  /* Font */
  --font-family: "Josefin Sans", sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  /*  Theme */
  --background: grey;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --bg-image: url(./images/bg-mobile-light.jpg);
}

@media (min-width: 768px) {
  :root {
    --bg-image: url(./images/bg-desktop-light.jpg);
  }
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --bg-image: url(./images/bg-mobile-dark.jpg);
}

@media (min-width: 768px) {
  [data-theme="dark"] {
    --bg-image: url(./images/bg-desktop-dark.jpg);
  }
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: lightgrey;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;

  background: var(--bg-image);
  background-repeat: no-repeat;
  background-size: 100% 220px;
}

@media (min-width: 768px) {
  .app {
    background: var(--bg-image);
    background-repeat: no-repeat;
    background-size: 100% 220px;
  }
}

.container {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2.625rem;
  color: #fff;
}

/* Button */
.theme-toggle-btn {
  border: 0;
  background-color: transparent; /*should be transparent*/
  cursor: pointer;
}

/* Form */
.create-todo-bg {
  width: 100%;
  padding: 14px 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.create-todo-container {
  position: relative;
  padding-left: 32px;
  user-select: none;
}

.checkbox-cosmetic {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid lightgrey;
  border-radius: 100%;
  background: white;
}

.create-new-todo {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 5px;
  caret-color: #0000ff;
  font-family: var(--font-family);
  font-size: 14px;
}

form:focus-within {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.create-new-todo:focus {
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}

/* Todo List */
.todo-list {
  padding: 0;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.todo-list > .todo-item {
  list-style: none;
  padding: 16px 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 12px;
  color: grey;
  height: 46px;
}

.list-footer > span:first-child {
  margin-left: 20px;
}

.list-footer > span:last-child {
  margin-right: 20px;
}

.hidden-checkbox + label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .hidden-checkbox + label {
    font-size: 12px;
  }
}

/* Custom Checkbox background */
.hidden-checkbox + label::before {
  content: "";
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
  border: 1px solid lightgrey;
}

/* Custom Checkbox hover*/
.hidden-checkbox + label:hover::before {
  border: 2px solid #0000;
  border-radius: 100%;
  background: linear-gradient(#fff, #fff) padding-box,
    var(--check-background) border-box;
}

/* Custom Checkbox focus*/
.hidden-checkbox:focus + label::before {
  outline: transparent solid 1px;
  border: 2px solid #0000;
  border-radius: 100%;
  background: linear-gradient(#fff, #fff) padding-box,
    var(--check-background) border-box;
}

/* Checkmark */
.hidden-checkbox:checked + label::before {
  content: url("./images/icon-check.svg");
  background: var(--check-background);
  border: none;
  padding: 5px 5px;
}

.hidden-checkbox:checked + label {
  color: lightgrey;
  text-decoration: line-through;
  text-decoration-color: grey;
}

.hidden-checkbox {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.delete-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.clear-completed {
  cursor: pointer;
}

.clear-completed:hover {
  color: black;
}

@media (max-width: 768px) {
  .nav {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    margin-top: 150px;
    padding: 16px 20px;
    background: white;
    color: grey;
    font-size: 14px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  list-style: none;
  gap: 20px;
}

.nav > li {
  font-weight: var(--font-bold);
  cursor: pointer;
}

.nav > li:hover {
  color: black;
}

.nav li.active {
  color: blue;
}
