:root {
  /* Colors */

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  /* Typography */

  /* Body Copy */
  --font-size: 1.125rem;

  /* Font */
  --font-family: "Josefin Sans", sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  /*  Theme */
  --background: grey;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --bg-image: url(./images/bg-mobile-light.jpg);
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --bg-image: url(./images/bg-mobile-dark.jpg);
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;

  background: var(--bg-image);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.container {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2.625rem;
  color: #fff;
}

/* Button */
.theme-toggle-btn {
  border: 0;
  background-color: transparent; /*should be transparent*/
  cursor: pointer;
}

/* Form */
.create-new-todo {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  caret-color: #0000ff;
  font-family: var(--font-family);
}

.create-new-todo:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}
