:root {
  /* Colors */

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --dm-very-dark-blue: hsl(235, 21%, 11%);
  --dm-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dm-light-grayish-blue-1: hsl(234, 39%, 85%);
  --dm-light-grayish-blue-2: hsl(236, 33%, 92%);
  --dm-dark-grayish-blue: hsl(234, 11%, 52%);
  --dm-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --dm-very-dark-grayish-blue-2: hsl(237, 14%, 26%);

  /* Typography */

  /* Body Copy */
  --font-size: 1.125rem;

  /* Font */
  --font-family: "Josefin Sans", sans-serif;
  --font-regular: 400;
  --font-bold: 700;

  /*  Theme */
  --bg-color-body: var(--very-light-gray);
  --bg-color-textbox: #fff;
  --bg-color-checkbox: #fff;
  --color-text-primary: var(--very-dark-grayish-blue);
  --color-text-secondary: var(--dark-grayish-blue);
  --color-text-disabled: var(--light-grayish-blue);
  --color-line-through: var(--dark-grayish-blue);
  --color-horizontal-line: var(--very-light-grayish-blue);
  --color-checkbox-border: var(--light-grayish-blue);
  --accent: var(--bright-blue);
  --bg-image: url(./images/bg-mobile-light.jpg);
}

@media (min-width: 768px) {
  :root {
    --bg-image: url(./images/bg-desktop-light.jpg);
  }
}

[data-theme="dark"] {
  --bg-color-body: var(--dm-very-dark-blue);
  --bg-color-textbox: var(--dm-very-dark-desaturated-blue);
  --bg-color-checkbox: var(--dm-very-dark-desaturated-blue);
  --color-text-primary: var(--dm-light-grayish-blue-2);
  --color-text-secondary: var(--dm-very-dark-grayish-blue-1);
  --color-text-disabled: var(--dm-very-dark-grayish-blue-1);
  --color-line-through: var(--dm-dark-grayish-blue);
  --color-horizontal-line: var(--dm-very-dark-grayish-blue-1);
  --color-checkbox-border: var(--dm-very-dark-grayish-blue-1);
  --bg-image: url(./images/bg-mobile-dark.jpg);
}

@media (min-width: 768px) {
  [data-theme="dark"] {
    --bg-image: url(./images/bg-desktop-dark.jpg);
  }
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color-body);
  color: var(--color-text-primary);
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

.app {
  transition: all 0.5s;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: 100% 220px;
}

@media (min-width: 768px) {
  .app {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: 100% 220px;
  }
}

.container {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2.625rem;
  color: #fff;
}

/* Button */
.theme-toggle-btn {
  border: 0;
  background-color: transparent; /*should be transparent*/
  cursor: pointer;
}

/* Form */
.create-todo-bg {
  width: 100%;
  padding: 14px 20px;
  background: var(--bg-color-textbox);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.create-todo-container {
  position: relative;
  padding-left: 2rem; /* 32px */
  user-select: none;
}

.checkbox-cosmetic {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem; /* 20px */
  height: 1.25rem;
  border: 1px solid var(--color-checkbox-border);
  border-radius: 100%;
  background: var(--bg-color-checkbox);
}

.create-new-todo {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 5px;
  caret-color: var(--accent);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-size: 0.875rem; /*14px*/
}

form:focus-within {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.create-new-todo:focus {
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}

::placeholder {
  color: var(--color-text-secondary);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-text-secondary);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-text-secondary);
}

/* Todo List */
.todo-list {
  padding: 0;
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-color-textbox);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.todo-list > .todo-item {
  list-style: none;
  padding: 16px 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-horizontal-line);
}

@media (min-width: 992px) {
  .todo-item:hover > .delete-btn {
    opacity: 1;
  }
}

.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 0.75rem; /* 12px */
  color: var(--color-text-secondary);
  height: 46px;
}

.list-footer > span:first-child {
  margin-left: 20px;
}

.list-footer > span:last-child {
  margin-right: 20px;
}

.hidden-checkbox + label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.875rem; /* 14px */
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .hidden-checkbox + label {
    font-size: 0.75rem; /* 12px */
  }
}

/* Custom Checkbox background */
.hidden-checkbox + label::before {
  content: "";
  margin-right: 12px;
  width: 1.25rem; /* 20px */
  height: 1.25rem;
  border-radius: 100%;
  background: var(--bg-color-checkbox);
  border: 1px solid var(--color-checkbox-border);
}

/* Custom Checkbox hover*/
.hidden-checkbox + label:hover::before {
  border: 2px solid #0000;
  border-radius: 100%;
  background: linear-gradient(
        var(--bg-color-checkbox),
        var(--bg-color-checkbox)
      )
      padding-box,
    var(--check-background) border-box;
}

/* Custom Checkbox focus*/
.hidden-checkbox:focus + label::before {
  outline: transparent solid 1px;
  border: 2px solid #0000;
  border-radius: 100%;
  background: linear-gradient(
        var(--bg-color-checkbox),
        var(--bg-color-checkbox)
      )
      padding-box,
    var(--check-background) border-box;
}

@media (min-width: 992px) {
  .hidden-checkbox:focus ~ .delete-btn {
    opacity: 1;
  }
}

/* Checkmark */
.hidden-checkbox:checked + label::before {
  content: url("./images/icon-check.svg");
  background: var(--check-background);
  border: none;
  padding: 0.3125rem 0.3125rem; /* 5px */
}

.hidden-checkbox:checked + label {
  color: var(--color-text-disabled);
  text-decoration: line-through;
  text-decoration-color: var(--color-line-through);
}

.hidden-checkbox {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.delete-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 992px) {
  .delete-btn {
    opacity: 0;
  }

  .delete-btn:focus {
    opacity: 1;
  }
}

.clear-completed {
  cursor: pointer;
}

.clear-completed:hover {
  color: var(--color-text-primary);
}

@media (max-width: 992px) {
  .nav {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    margin-top: 150px;
    padding: 16px 20px;
    background: var(--bg-color-textbox);
    color: var(--color-text-secondary);
    font-size: 0.875rem; /* 14px */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  list-style: none;
  gap: 20px;
}

.nav > li {
  font-weight: var(--font-bold);
  cursor: pointer;
}

.nav > li:hover {
  color: var(--color-text-primary);
}

.nav li.active {
  color: var(--accent);
}
